* {
  box-sizing: border-box;
  text-decoration: none;
}

.header {
  height: 70px;
  width: 100vw;
  background-color: #f8d655;
  .header-top {
    height: 70px;
    margin: 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__right {
      font-family: "woff2", Arial, Helvetica, sans-serif;
      font-size: 40px;
      &--logo {
        color: rgb(65, 171, 236);
        text-decoration: none;
      }
    }
    &__left {
      font-size: 18px;
      &--mypage {
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(65, 171, 236);
        text-decoration: none
      }
      &--logout {
        margin-left: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(65, 171, 236);
        text-decoration: none
      }
      &--lgn {
        margin-left: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(65, 171, 236);
        text-decoration: none
      }
      &--new {
        margin-left: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(65, 171, 236);
        text-decoration: none
      }
      &--post {
        margin-left: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(65, 171, 236);
        text-decoration: none
      }
    }
  }
}

.wrapper {
  background-color: #ccc;
  height: calc(100vh - 70px);
  overflow: scroll;
  .main-contents {
    widows: auto;
    margin: 30px 200px;
    .main-new__title {
      font-size: 30px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      color: #333;
      margin-bottom: 10px;
    }
    .new-contents {
      display: flex;
      flex-wrap: wrap;
      .new-content {
        background-color: white;
        height: 250px;
        width: 200px;
        margin: 0 20px 20px;
        box-shadow: 2px 2px 4px gray;
        &__title--top {
          font-family: Arial, Helvetica, sans-serif;
          color: #666;
          padding: 0 10px;
        }
      }
    }
  }
  .post-area {
    bottom: 32px;
    font-size: 22px;
    height: 160px;
    right: 32px;
    width: 160px;
    position: fixed;
    text-align: center;
    z-index: 10;
    &__btn {
      width: 150px;
      height: 150px;
      background-color: #f8d655;
      border-radius: 50%;
      border: solid 3px #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      &--name {
        text-decoration: none;
        font-size: 50px;
        font-family: "woff2", Arial, Helvetica, sans-serif;
        color: rgb(65, 171, 236);
      }
    }
  }
}
.fotter {
  background-color: #f8d655;
  height: 50px;
  width: 100%;
  .fotter-main {
    height: 50px;
    width: 100%;
    .fotter-main__list {
      list-style: none;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      &--content {
      padding-left: 20px;
      }
    }
  }
}

// スワイパー
.swiper-container {
  width: 100%;
  height: 420px;
  background-color: #eee;
  .swiper-wrapper {
    background-color: whitesmoke;
    width: 100%;
    height: 395px;
  }
}
.swiper-slide {
  display: flex;
  justify-content: center;
  &__img {
    width: calc(100% - 50%);
    padding: auto;
    text-align: center;
    &--img {
      margin: 22.5px;
    }
  }
  .swiper-slide-right {
    width: calc(100% - 50%);
    padding: 0 auto;
    text-align: center;
    margin-top: 70px;
    &__title {
      font-size: 36px;
      font-family: "woff2", Arial, Helvetica, sans-serif;
      margin-bottom: 20px;
      &--title {
        color: #555;
      }
    }
    &__name {
      font-size: 24px;
      font-family: "woff2", Arial, Helvetica, sans-serif;
      &--name {
        color: #555;
      }
    }
  }
}