.show {
  overflow: scroll;
  height: 100vh;
  width: 100vw;
  background-color: lavender;
  .show-box {
    width: 600px;
    height: 100%;
    margin: 0 200px;
  }
}

.show-img {
  width: auto;
  height: auto;
  .show-img__img {
    border: 5px solid #333;
    object-fit: contain;
  }
}