.box {
  background-color: #eee;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  .box-inner {
    background-color: white;
    width: 350px;
    height: 450px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px #ddd solid;
  }
}
