.box {
  background-color: #eee;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  display:inline-block;
  .box-inner {
    background-color: white;
    width: 500px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px #ddd solid;
  }
}
