
.header
  .header-top
    .header-top__right
      = link_to '/' ,class: 'header-top__right--logo' do
        4コマ
    .header-top__left
      = link_to '/' ,class: 'header-top__left--lgn' do
        ログイン
.wrapper
  .main
    .main-contents
      %h1.main-new__title
        新着４コマ
      .new-contents
        .new-content
          .new-content__img
            写真
          .new-content__title
            タイトル
          .new-content__user
            名前
.fotter 
  .fotter-main
    %ul.fotter-main__list
      %li.fotter-main__list--content お問い合わせ
      %li.fotter-main__list--content プライバシーポリシー
      %li.fotter-main__list--content 特定商取引に基づく表記
      %li.fotter-main__list--content 運営会社