
@font-face {
  font-family: "woff2";
  src: url('https://cdn.leafscape.be/NovelPOP/novelpop_web.woff2')
  format("woff2");
  font-weight: normal;
  font-style: normal;
}
@import "modules/reset";
@import "modules/post_show";
@import "modules/signup";
@import "modules/posts";
@import "modules/post_new_edit";
@import "font-awesome-sprockets";
@import "font-awesome";